* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.navbar {
    display: flex;
    height: 100px;
    background-color: #FFE0B2;
    justify-content: space-around;
    align-items:center;
}

.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-item {
    margin: 0.8rem;
}

.navbar a {
    color: #333333;
    text-decoration: none;
    transition: all 0.5s ease;
    font-size: 18px;
    font-weight: bolder;
}
.navbar a:hover {
    color: white;
    background-color: #28c9c2;
    padding: 5px;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    transform: translateY(-3px);
}

.logo {
    width: 108px;
}

.carrito {
    position: relative;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #A6DDD9; /* Color de fondo */
    color: white; /* Color del texto */
    font-size: 15px;
    padding: 2px 6px;
    border-radius: 50%; /* Forma redondeada */
    transform: translate(50%, -50%);
}