* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
    display: flex;
    height: 100px;
    background-color: #ffe5c1;
    justify-content: space-around;
    align-items: center;
}

.navbar-nav {
    list-style: none;
    display: flex;
}

.nav-item {
    margin: 0.8rem;
}

.nav-link {
    color: #333333;
    text-decoration: none;
    transition: all 0.5s ease;
    font-size: 18px;
    font-weight: bolder;
}

.nav-link:hover {
    color: white;
    background-color: #28c9c2;
    padding: 5px;
    border-color: rgb(255, 255, 255);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    transform: translateY(-3px);
}

.logo {
    height: 70px;
    width: 100px;
}

.carrito {
    position: relative;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #A6DDD9;
    color: white;
    font-size: 15px;
    padding: 2px 6px;
    border-radius: 50%;
    transform: translate(50%, -50%);
}
