* {
    padding: 0;
    margin: 0;
}

.home-content {
    padding: 40px;
    background-color: #fafafa;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    font-family: "Montserrat", "Raleway";
    font-size: 70px;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    font-family: "Montserrat", "Raleway";
    font-size: 30px;
}

